@font-face {
    font-family: 'Roboto-bold';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #C59124, #FEF350, #C59124);
}

body {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 20% auto 20%;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align-last: center;
}

.proxImg {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 16px;
    align-items: center;
    width: 100%;
}

.proxImg img {
    width: 400px;
}

.proxText {
    grid-row-start: 2;
    color: #032C45;
    margin: 0;
    font-family: 'Roboto-bold';
    letter-spacing: 7px;
    font-size: 30px;
    align-self: center;
    width: 100%;
}

.ruleta {
    grid-row-start: 2;
    grid-column-start: 2;
    width: 100%;
    align-self: center;
}

.btn {
    grid-row-start: 2;
    grid-column-start: 3;
    align-self: center;
}

.btn img {
    width: 100%;
}

.apuestas {
    grid-row-start: 3;
    grid-column-start: 1;
    height: 100%;
    width: 100%;
}

.shutter {
    grid-row-start: 3;
    grid-column-start: 2;
    height: 100%;
    width: 100%;
}

.visita {
    color: #fff;
    background-color: #EF5B2F;
    grid-row-start: 3;
    grid-column-start: 3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visita a,
.visita a:visited {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

@media only screen and (max-width: 980px) {
    body {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .proxImg {
        margin-top: 16px;
        align-items: center;
        width: 100%;
    }
    .proxText {
        margin-top: 50px;
    }
    .ruleta {
        margin-top: 60px;
        width: 70%
    }
    .btn {
        margin-top: 50px;
        width: 50%;
    }
    .apuestas {
        margin-top: 100px;
        height: 200px;
        width: 100%;
    }
    .shutter {
        display: none;
    }
}